<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fitness.fitrova">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.front" android:required="false" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.output" android:required="false" />

    <application
        android:name="com.fitness.fitrova.application.FTApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.FTSplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.FTRegisterActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.FTLoginActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.FTMainActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.FTWalletActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name=".activity.FTEnterPinActivity"
            android:screenOrientation="portrait">
        </activity>

        <activity
            android:name="simplecropimage.CropImage"
            android:screenOrientation="portrait" />

    </application>

</manifest>